<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes> 
      <class name="com.upgrade.interview.upgrade_interview.AppTest"/>
      <class name="tests.NonDMFunnelTest"/>
      <class name="tests.PersonalInformationPage1Test"/>
      <class name="tests.OfferTest"/>
      
       <class name="tests.LoginTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
